<h1>Burgers</h1>

<h2> Burgers I want to eat!!!</h2>

<ul>
    {{#each burger}}
        {{#unless is_devoured}}
            {{> burger/burger-block is_devoured}}
        {{/unless}}
        
    {{/each}}
</ul>

<h2>Burgers I already ate!!!</h2>

<ul>
    {{#each burger}}
        {{#if is_devoured}}
           {{> burger/burger-block is_devoured}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class='create-form'>
    <div class='group-form'>
        <label for='burger'> Burger Name: </label>
        <input type='text' id='burger' name='name'>
    </div>
    <div class='group-form'>
        <label for='devoured'>Choose:</label>
        <br>
        <input type='radio' name='devoured' value='1' checked> Devoured! 
        <br>
        <input type='radio' name='devoured' value='0'> Looks yummy!
    </div>
    <button type='submit'> Add a Burger</button>
</form>